div#search_form.shadowed
  form(action='/places/search', method='POST')
    label(for='place_search', id='place_search_label')= _t("Qué se dice del tiempo en...")
    input(type='text', name='place[search_string]', id='place_search_name', placeholder= _t("por ejemplo: Madrid")) ?  
    input(type='submit', id='place_search_button', class='button_efect',value= _t("Busca!"))
  
  div#your_location  
div#introduction
  p!= _t("intro_text1")
  p= _t("intro_text2")
  h3= _t("Algunos apuntes técnicos")
  p!= _t("intro_technical")



