
!!!
html
  head    
    title!= title
    link(rel='stylesheet', href='/stylesheets/reset.css')    
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/general.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src= 'http://code.jquery.com/jquery.min.js')
    - if (typeof(scripts) != 'undefined')
      each script in scripts 
        script(type='text/javascript', src= script)
        
    |<script type="text/javascript">    
    |	var _gaq = _gaq || [];
    |	_gaq.push(['_setAccount', 'UA-27187705-1']);
    |	_gaq.push(['_trackPageview']);    
    |	(function() {
    |		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    |		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    |		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    |		})();
    |</script>
  body
    div#background
      header
        div.titlebar.shadowed
          div.row 
            a.logo.col.col_6(href="/")
            div.clear
        nav.menubar
          div.row
            ul.col.col_16 
              li.first
                a(href="/")= _t("Volver a la busqueda")
              li
                a(href="http://www.itknowingness.com") Blog
              li
                a(href="http://jaimeramirez.heroku.com") @jramcast
            div.clear

    
      section#main.row.main!= body
    
    div#footer_shadow.shadowed
      footer
        div.row
          div.col.col_5
            h4= _t("En la cocina")
            ul#footer_copyright
              li 
                a(href="http://jaimeramirez.heroku.com") Jaime Ramírez
                span= _t(" de ")
                a(href="http://www.itknowingness.com") ITKnowingness
              li 
                a(href="http://twitter.com/jramcast") @jramcast
              li
                a(href="http://twitter.com/itknowingness")@itknowingess
                
          div.col.col_4
            h4= _t("Utensilios")
            ul#footer_technologies_list
              li
                a(href="http://nodejs.org/") NodeJS
              li
                a(href="http://expressjs.com/") Express
              li
                a(href="http://socket.io/") Socket.io
          div.col.col_5
            h4= _t("Ingredientes")
            p!= _t("footer_data_sources")